In [2]:
# !pip install yfinance

In [8]:
import pandas as pd

In [5]:
import yfinance as yf
data = yf.download("META", start="2017-01-01", end="2023-04-01")

[*********************100%***********************]  1 of 1 completed

In [6]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,116.029999,117.839996,115.510002,116.860001,116.860001,20663900
2017-01-04,117.550003,119.660004,117.290001,118.690002,118.690002,19630900
2017-01-05,118.860001,120.949997,118.320000,120.669998,120.669998,19492200
2017-01-06,120.980003,123.879997,120.029999,123.410004,123.410004,28545300
2017-01-09,123.550003,125.430000,123.040001,124.900002,124.900002,22880400
...,...,...,...,...,...,...
2023-03-27,204.809998,205.860001,201.360001,202.839996,202.839996,18527200
2023-03-28,200.149994,201.029999,197.899994,200.679993,200.679993,19127300
2023-03-29,203.559998,205.720001,202.539993,205.350006,205.350006,18851100
2023-03-30,203.380005,208.089996,202.820007,207.839996,207.839996,22608300
2023-03-31,207.240005,212.169998,206.770004,211.940002,211.940002,25412000

In [7]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data.to_csv('meta_stocks_.csv')